In [1]:
# Standard libraries
import xarray as xr
import numpy as np
import pandas as pd
# import os
# from glob import glob
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import matplotlib.pyplot as plt
%matplotlib inline
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
import seaborn as sns
import iris
from iris.pandas import as_cubes
import sys

from datetime import datetime
from cartopy.util import add_cyclic_point
import gc
import imageio.v2
from IPython import display
# import netCDF4
from global_land_mask import globe
# # Import tobac itself:
import tobac

# Disable a few warnings:
import warnings
warnings.filterwarnings('ignore', category=UserWarning, append=True)
warnings.filterwarnings('ignore', category=RuntimeWarning, append=True)
warnings.filterwarnings('ignore', category=FutureWarning, append=True)
warnings.filterwarnings('ignore',category=pd.io.pytables.PerformanceWarning)

## close range vrs distance range relative to the trollinde radar.

In [2]:
track = pd.read_csv('../saved-files/threshold-10/final-tracks-threshold-10.csv')
track

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$)
0,0,4,112.472423,381.827530,14,10,4,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.172472e+06,298827.530189,70.261556,17.831991,4,0 days 00:00:00,133.652175,13.245867,34.567482,22.880043
1,1,4,113.727184,383.443874,16,10,105,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.173727e+06,300443.873660,70.248236,17.869335,4,0 days 00:05:00,133.177717,12.974534,35.577388,22.881160
2,2,4,114.912344,385.528075,9,10,211,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.174912e+06,302528.074991,70.234954,17.918971,4,0 days 00:10:00,133.000505,12.780750,34.063904,15.916738
3,3,4,116.591310,387.338867,9,10,315,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.176591e+06,304338.867039,70.217548,17.959698,4,0 days 00:15:00,132.299723,12.708913,36.584485,14.922242
4,4,4,118.277261,388.995062,5,10,415,2020-03-13 04:20:00,2020-03-13 04:20:00,-2.178277e+06,305995.062270,70.200267,17.996341,4,0 days 00:20:00,131.563070,12.845599,38.092506,9.948374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17189,299,37,344.225457,230.927378,85,10,24599,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.404225e+06,147927.378233,68.294564,13.520861,8480,0 days 00:10:00,145.295316,15.240493,41.116443,138.320857
17190,300,40,345.289261,230.420788,113,10,24640,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.405289e+06,147420.787679,68.285155,13.507285,8480,0 days 00:15:00,146.446244,14.702386,40.106802,146.281856
17191,298,4,144.157813,260.357823,215,10,24525,2020-03-14 04:50:00,2020-03-14 04:50:00,-2.204158e+06,177357.823188,70.094551,14.600400,8481,0 days 00:00:00,109.386079,15.301029,39.603226,383.006996
17192,299,7,145.597643,261.961765,216,10,24569,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.205598e+06,178961.765093,70.080315,14.638806,8481,0 days 00:05:00,107.283607,15.240493,41.116443,396.941301
17193,300,6,146.879156,263.533291,247,10,24606,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.206879e+06,180533.290839,70.067527,14.676656,8481,0 days 00:10:00,105.333325,14.702386,40.106802,391.964311

### Calculate distance relative to trollinde radar

In [3]:
distance = []
for i in range(len(track)):
    #lat_andenes = 69.141599 # latitude of Andenes
    lat_andenes = 69.2412 # latiude of trollinde radar
    #lon_andenes = 15.684104 # latitude of Andenes
    lon_andenes = 16.0030 # longitude of trollinde radar
    
    distances = tobac.analysis.haversine(track['latitude'][i], track['longitude'][i], lat_andenes, lon_andenes)
    distance.append(distances)

In [4]:
distance[:10]
# np.max(distance)

[133.65217457503408,
 133.1777170980281,
 133.00050456755258,
 132.2997225053453,
 131.56306979814158,
 124.98202762426425,
 123.4845948958838,
 122.33876709003029,
 125.169513724381,
 123.28739964284024]

In [5]:
%%time
# apped distance to track dataframe
track['distance'] = pd.Series(distance)

CPU times: user 2.75 ms, sys: 0 ns, total: 2.75 ms
Wall time: 2.76 ms

In [6]:
track.head()

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$)
0,0,4,112.472423,381.827530,14,10,4,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.172472e+06,298827.530189,70.261556,17.831991,4,0 days 00:00:00,133.652175,13.245867,34.567482,22.880043
1,1,4,113.727184,383.443874,16,10,105,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.173727e+06,300443.873660,70.248236,17.869335,4,0 days 00:05:00,133.177717,12.974534,35.577388,22.881160
2,2,4,114.912344,385.528075,9,10,211,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.174912e+06,302528.074991,70.234954,17.918971,4,0 days 00:10:00,133.000505,12.780750,34.063904,15.916738
3,3,4,116.591310,387.338867,9,10,315,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.176591e+06,304338.867039,70.217548,17.959698,4,0 days 00:15:00,132.299723,12.708913,36.584485,14.922242
4,4,4,118.277261,388.995062,5,10,415,2020-03-13 04:20:00,2020-03-13 04:20:00,-2.178277e+06,305995.062270,70.200267,17.996341,4,0 days 00:20:00,131.563070,12.845599,38.092506,9.948374

# close domain

In [7]:
# latitude of radar(reference point)
ref_latitude_radar = 69.2412
# longitude of radar
ref_longitude_radar = 16.0030
# first 50km from the trollinde radar on the top
latitude_top_50km = 69.6940 
# first 50km from the trollinde radar on the bottom
latitude_bottom_50km = 68.78878

latitude = ((track['latitude'] >= latitude_bottom_50km) & (track['latitude'] <= latitude_top_50km))
# from_radar_to_50km_top = ((track['latitude'] >= ref_latitude_radar) & (track['latitude'] <= latitude_top_50km))
# from_radar_to_50km_bottom = ((track['latitude'] <= ref_latitude_radar) & (track['latitude'] >= latitude_bottom_50km))

longitude = (track['longitude'] <= ref_longitude_radar)

mask_lat = (latitude  & longitude)

# mask_lat = (from_radar_to_50km_top | from_radar_to_50km_bottom)



close_domain_10 = track[ mask_lat]
close_domain_10

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$)
22,0,31,218.000000,204.000000,1,10,31,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.278000e+06,121000.000000,69.457825,13.040509,31,0 days 00:00:00,118.761865,13.245867,34.567482,24.873282
23,1,32,219.289877,205.783488,13,10,133,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.279290e+06,122783.487820,69.445223,13.083497,31,0 days 00:05:00,116.862628,12.974534,35.577388,26.862328
24,2,36,222.233390,207.267306,24,10,243,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.282233e+06,124267.305726,69.417713,13.116670,31,0 days 00:10:00,115.094337,12.780750,34.063904,24.874271
103,1,34,222.000000,175.000000,1,10,135,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.282000e+06,92000.000000,69.433754,12.308659,127,0 days 00:00:00,146.663768,12.974534,35.577388,0.994716
104,2,38,224.759100,176.581872,11,10,245,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.284759e+06,93581.871558,69.408050,12.345478,127,0 days 00:05:00,144.924330,12.780750,34.063904,53.724773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17171,299,30,271.599762,288.147615,150,10,24592,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.331600e+06,205147.614781,68.916468,15.028265,8469,0 days 00:15:00,52.988363,15.240493,41.116443,315.419531
17172,300,30,272.983088,289.584989,141,10,24630,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.332983e+06,206584.989446,68.902754,15.060327,8469,0 days 00:20:00,53.143372,14.702386,40.106802,307.460454
17173,296,32,275.076364,319.000000,3,10,24472,2020-03-14 04:40:00,2020-03-14 04:40:00,-2.335076e+06,236000.000000,68.858431,15.771137,8470,0 days 00:00:00,43.596674,15.390894,40.106802,36.815098
17174,297,33,275.177106,320.830880,4,10,24513,2020-03-14 04:45:00,2020-03-14 04:45:00,-2.335177e+06,237830.879924,68.855833,15.815353,8470,0 days 00:05:00,43.543306,15.206985,38.598690,47.761373
17175,298,32,275.000000,321.000000,1,10,24553,2020-03-14 04:50:00,2020-03-14 04:50:00,-2.335000e+06,238000.000000,68.857285,15.819899,8470,0 days 00:10:00,43.353280,15.301029,39.603226,29.851796

In [8]:
%%time
cells_relative_time_to_radar_close = [];

for index, cell_id in enumerate(np.unique(close_domain_10['cell'])):
    if cell_id:
        # get all the closed domain cell id
        cells = close_domain_10[close_domain_10['cell'] == cell_id]
        # convert time to datetime
        all_times = pd.to_datetime(cells['timestr'].values)
        # select the last time
        time_cell_hit_radar = all_times[::-1][0]
        relative_time = np.subtract(time_cell_hit_radar, all_times)
        # convert to seconds 
        relative_time = relative_time.seconds // 60
        # print(cell_id, relative_time)
        cells_relative_time_to_radar_close.append(relative_time)

CPU times: user 611 ms, sys: 4 µs, total: 611 ms
Wall time: 644 ms

In [9]:
# cells_relative_times = pd.Series([item for sublist in cells_relative_time for item in sublist])
cells_relative_times_to_radar_close = pd.Series([item for sublist in cells_relative_time_to_radar_close for item in sublist])
close_domain_10['relative-time-to-radar'] = cells_relative_times_to_radar_close.values

/glade/scratch/noteng/ipykernel_255681/107750523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_domain_10['relative-time-to-radar'] = cells_relative_times_to_radar_close.values

In [10]:
close_domain_10 = close_domain_10.reset_index(drop=True)

In [11]:
close_domain_10.head()

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$),relative-time-to-radar
0,0,31,218.000000,204.000000,1,10,31,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.278000e+06,121000.000000,69.457825,13.040509,31,0 days 00:00:00,118.761865,13.245867,34.567482,24.873282,10
1,1,32,219.289877,205.783488,13,10,133,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.279290e+06,122783.487820,69.445223,13.083497,31,0 days 00:05:00,116.862628,12.974534,35.577388,26.862328,5
2,2,36,222.233390,207.267306,24,10,243,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.282233e+06,124267.305726,69.417713,13.116670,31,0 days 00:10:00,115.094337,12.780750,34.063904,24.874271,0
3,1,34,222.000000,175.000000,1,10,135,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.282000e+06,92000.000000,69.433754,12.308659,127,0 days 00:00:00,146.663768,12.974534,35.577388,0.994716,30
4,2,38,224.759100,176.581872,11,10,245,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.284759e+06,93581.871558,69.408050,12.345478,127,0 days 00:05:00,144.924330,12.780750,34.063904,53.724773,25

In [12]:
len(close_domain_10)

4735

# distant domain

In [13]:
ref_latitude_point_top = 69.6940 
ref_latitude_point_bottom = 68.78878
# longitude of radar
ref_longitude_radar1 = 16.0030
latitude_top_50km_to_150km = 70.5978 # 100km from first 50km on the top
latitude_bottom_50km_to_150km = 67.8878 # 100km from first 50km on the bottom

latitude1 = ((track['latitude'] >= latitude_bottom_50km_to_150km) & (track['latitude'] <= latitude_top_50km_to_150km))
longitude1 = (track['longitude'] <= ref_longitude_radar1)

mask_lat = (latitude1 & longitude1)


distant_domain_10 = track[ mask_lat ]
distant_domain_10

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$)
8,0,8,133.286753,248.491463,17,10,8,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.193287e+06,165491.463326,70.201567,14.314998,8,0 days 00:00:00,125.169514,13.245867,34.567482,57.699215
9,1,9,135.170204,249.084819,11,10,110,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.195170e+06,166084.819265,70.184074,14.326710,8,0 days 00:05:00,123.287400,12.974534,35.577388,53.719150
10,2,9,138.669602,250.274086,7,10,216,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.198670e+06,167274.085680,70.151504,14.350663,8,0 days 00:10:00,119.747828,12.780750,34.063904,36.809306
11,3,7,142.671253,252.204723,23,10,318,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.202671e+06,169204.723152,70.113854,14.392718,8,0 days 00:15:00,115.369682,12.708913,36.584485,48.746753
12,4,11,146.475650,254.835989,27,10,422,2020-03-13 04:20:00,2020-03-13 04:20:00,-2.206476e+06,171835.988843,70.077489,14.453095,8,0 days 00:20:00,110.730924,12.845599,38.092506,59.689100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17189,299,37,344.225457,230.927378,85,10,24599,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.404225e+06,147927.378233,68.294564,13.520861,8480,0 days 00:10:00,145.295316,15.240493,41.116443,138.320857
17190,300,40,345.289261,230.420788,113,10,24640,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.405289e+06,147420.787679,68.285155,13.507285,8480,0 days 00:15:00,146.446244,14.702386,40.106802,146.281856
17191,298,4,144.157813,260.357823,215,10,24525,2020-03-14 04:50:00,2020-03-14 04:50:00,-2.204158e+06,177357.823188,70.094551,14.600400,8481,0 days 00:00:00,109.386079,15.301029,39.603226,383.006996
17192,299,7,145.597643,261.961765,216,10,24569,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.205598e+06,178961.765093,70.080315,14.638806,8481,0 days 00:05:00,107.283607,15.240493,41.116443,396.941301
17193,300,6,146.879156,263.533291,247,10,24606,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.206879e+06,180533.290839,70.067527,14.676656,8481,0 days 00:10:00,105.333325,14.702386,40.106802,391.964311

In [15]:
%%time
cells_relative_time_to_radar_distant = [];

for index, cell_idx in enumerate(np.unique(distant_domain_10['cell'])):
    if cell_idx:
        # get all the closed domain cell id
        cells = distant_domain_10[distant_domain_10['cell'] == cell_idx]
        # convert time to datetime
        all_times = pd.to_datetime(cells['timestr'].values)
        # select the last time
        time_cell_hit_radar1 = all_times[::-1][0]
        relative_time1 = np.subtract(time_cell_hit_radar1, all_times)
        # convert to seconds 
        relative_time1 = relative_time1.seconds // 60
        # print(cell_idx, relative_time1)
        cells_relative_time_to_radar_distant.append(relative_time1)

CPU times: user 1.4 s, sys: 23 µs, total: 1.4 s
Wall time: 1.45 s

In [16]:
# cells_relative_times = pd.Series([item for sublist in cells_relative_time for item in sublist])
cells_relative_times_to_radar_distant = pd.Series([item for sublist in cells_relative_time_to_radar_distant for item in sublist])
distant_domain_10['relative-time-to-radar'] = cells_relative_times_to_radar_distant.values

/glade/scratch/noteng/ipykernel_255681/3138235761.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distant_domain_10['relative-time-to-radar'] = cells_relative_times_to_radar_distant.values

In [17]:
distant_domain_10 = distant_domain_10.reset_index(drop=True)

In [18]:
distant_domain_10.head()

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$),relative-time-to-radar
0,0,8,133.286753,248.491463,17,10,8,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.193287e+06,165491.463326,70.201567,14.314998,8,0 days 00:00:00,125.169514,13.245867,34.567482,57.699215,35
1,1,9,135.170204,249.084819,11,10,110,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.195170e+06,166084.819265,70.184074,14.326710,8,0 days 00:05:00,123.287400,12.974534,35.577388,53.719150,30
2,2,9,138.669602,250.274086,7,10,216,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.198670e+06,167274.085680,70.151504,14.350663,8,0 days 00:10:00,119.747828,12.780750,34.063904,36.809306,25
3,3,7,142.671253,252.204723,23,10,318,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.202671e+06,169204.723152,70.113854,14.392718,8,0 days 00:15:00,115.369682,12.708913,36.584485,48.746753,20
4,4,11,146.475650,254.835989,27,10,422,2020-03-13 04:20:00,2020-03-13 04:20:00,-2.206476e+06,171835.988843,70.077489,14.453095,8,0 days 00:20:00,110.730924,12.845599,38.092506,59.689100,15

In [19]:
len(distant_domain_10)

12457

In [20]:
len(close_domain_10)

4735

In [21]:
len(track)

17194

In [22]:
len(close_domain_10) + len(distant_domain_10)

17192

In [30]:
distant_domain_10['latitude'].max(), distant_domain_10['latitude'].min(),close_domain_10['latitude'].max(), close_domain_10['latitude'].min()

(70.59773276537439, 67.88808991715327, 69.69393909500958, 68.78882750247271)

In [31]:
close_domain_10.to_csv('../saved-files/threshold-10/close-domain-threshold-10.csv', index=False)
distant_domain_10.to_csv('../saved-files/threshold-10/distant-domain-threshold-10.csv', index=False)

# END

In [42]:
# max_dBZ_10 = []
# for indexes, time in enumerate(np.unique(close_domain_10['relative-time-to-radar'])):
#     # Sorting based on same relative times
#     sort_relative_times_threshold_10 = close_domain_10[close_domain_10['relative-time-to-radar'] == time]
#     # Find each relative time associated with a particular reflectivity value
    
#     max_dbZ_threshold_10 = np.mean(sort_relative_times_threshold_10['max dBZ'])
#     max_dBZ_10.append(max_dbZ_threshold_10)