In [1]:
# Standard libraries
import xarray as xr
import numpy as np
import pandas as pd
import os
from glob import glob
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import matplotlib.pyplot as plt
%matplotlib inline
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
import seaborn as sns
import iris
from iris.pandas import as_cubes
# import sys

from datetime import datetime
from cartopy.util import add_cyclic_point
import gc
import imageio.v2
from IPython import display
# import netCDF4
from global_land_mask import globe
# # Import tobac itself:
import tobac

# Disable a few warnings:
import warnings
warnings.filterwarnings('ignore', category=UserWarning, append=True)
warnings.filterwarnings('ignore', category=RuntimeWarning, append=True)
warnings.filterwarnings('ignore', category=FutureWarning, append=True)
warnings.filterwarnings('ignore',category=pd.io.pytables.PerformanceWarning)

In [2]:
# load Mask_ERF_files
Mask_ERF = iris.load('../saved-files/threshold-20/Mask_ERF_iris-20.nc')[0]
Mask_ERF

In [3]:
track = pd.read_csv('../saved-files/threshold-20/final-tracks-threshold-20-excluding-area.csv')
track.head()

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ
0,0,3,138.459946,209.639577,12,20,3,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.198460e+06,126639.576617,70.178065,13.296810,3,0 days 00:00:00,147.586718,13.245867,34.567482
1,1,2,142.106890,211.038006,11,20,56,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.202107e+06,128038.005949,70.144203,13.327626,3,0 days 00:05:00,144.153937,12.974534,35.577388
2,2,3,144.716901,212.259109,4,20,107,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.204717e+06,129259.108875,70.119843,13.355321,3,0 days 00:10:00,141.544931,12.780750,34.063904
3,3,3,148.635454,213.044500,3,20,148,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.208635e+06,130044.500153,70.083824,13.369686,3,0 days 00:15:00,138.460932,12.708913,36.584485
4,0,7,179.772123,360.749762,7,20,7,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.239772e+06,277749.761570,69.679007,17.069049,7,0 days 00:00:00,64.097510,13.245867,34.567482

In [4]:
len(track)

12808

## _CALCULATE AREA_

In [6]:
area = tobac.calculate_area(track, Mask_ERF, method_area=None)
# area1 = (c['area']/1000000)
area1 = np.divide(area['area'],1000000)
area['area($km^2$)'] = area1

In [7]:
track['area($km^2$)'].max()

313.41941054226385

In [8]:
# # finding the maximum area
# z=track[track['area($km^2$)'] == 1433.9665540745268]
# z

In [9]:
tracks = track.drop(columns=['area'])
tracks

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$)
0,0,3,138.459946,209.639577,12,20,3,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.198460e+06,126639.576617,70.178065,13.296810,3,0 days 00:00:00,147.586718,13.245867,34.567482,28.850011
1,1,2,142.106890,211.038006,11,20,56,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.202107e+06,128038.005949,70.144203,13.327626,3,0 days 00:05:00,144.153937,12.974534,35.577388,23.876203
2,2,3,144.716901,212.259109,4,20,107,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.204717e+06,129259.108875,70.119843,13.355321,3,0 days 00:10:00,141.544931,12.780750,34.063904,16.911861
3,3,3,148.635454,213.044500,3,20,148,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.208635e+06,130044.500153,70.083824,13.369686,3,0 days 00:15:00,138.460932,12.708913,36.584485,12.933215
4,0,7,179.772123,360.749762,7,20,7,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.239772e+06,277749.761570,69.679007,17.069049,7,0 days 00:00:00,64.097510,13.245867,34.567482,13.928206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12803,299,1,132.210510,264.802250,9,20,15497,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.192211e+06,181802.250223,70.199616,14.740749,3835,0 days 00:05:00,117.272271,15.240493,41.116443,11.937888
12804,300,1,134.016782,265.607027,8,20,15522,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.194017e+06,182607.027340,70.182629,14.757736,3835,0 days 00:10:00,115.288355,14.702386,40.106802,9.947996
12805,298,15,209.325817,289.439165,8,20,15481,2020-03-14 04:50:00,2020-03-14 04:50:00,-2.269326e+06,206439.164789,69.480737,15.197855,3837,0 days 00:00:00,41.339728,15.301029,39.603226,20.893423
12806,299,12,210.187722,291.164259,7,20,15508,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.270188e+06,208164.259129,69.471488,15.239071,3837,0 days 00:05:00,39.445606,15.240493,41.116443,16.913434
12807,300,12,212.000000,292.056669,3,20,15533,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.272000e+06,209056.668584,69.454306,15.257232,3837,0 days 00:10:00,37.683037,14.702386,40.106802,14.923758

In [10]:
# all tracks
tracks.to_csv('../saved-files/threshold-20/final-tracks-threshold-20.csv', index=False)

# END