In [1]:
# Standard libraries
import xarray as xr
import numpy as np
import pandas as pd
import os
from glob import glob
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import matplotlib.pyplot as plt
%matplotlib inline
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
import seaborn as sns
import iris
from iris.pandas import as_cubes
# import sys

from datetime import datetime
from cartopy.util import add_cyclic_point
import gc
import imageio.v2
from IPython import display
# import netCDF4
from global_land_mask import globe
# # Import tobac itself:
import tobac

# Disable a few warnings:
import warnings
warnings.filterwarnings('ignore', category=UserWarning, append=True)
warnings.filterwarnings('ignore', category=RuntimeWarning, append=True)
warnings.filterwarnings('ignore', category=FutureWarning, append=True)
warnings.filterwarnings('ignore',category=pd.io.pytables.PerformanceWarning)

In [2]:
# load Mask_ERF_files
Mask_ERF = iris.load('../saved-files/threshold-10/Mask_ERF_iris-10.nc')[0]
Mask_ERF

In [3]:
track = pd.read_csv('../saved-files/threshold-10/final-tracks-threshold-10-excluding-area.csv')
track.head()

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ
0,0,6,199.219921,249.882620,2261,10,6,2020-03-13 00:00:00,2020-03-13 00:00:00,-2.259220e+06,166882.620261,69.602078,14.224616,6,0 days 00:00:00,80.341567,13.985118,34.063904
1,1,10,200.292669,252.325685,2497,10,113,2020-03-13 00:05:00,2020-03-13 00:05:00,-2.260293e+06,169325.685005,69.590685,14.284206,6,0 days 00:05:00,77.704072,14.036286,34.066730
2,2,12,200.767879,254.458841,2781,10,224,2020-03-13 00:10:00,2020-03-13 00:10:00,-2.260768e+06,171458.840881,69.584907,14.337065,6,0 days 00:10:00,75.600646,14.054377,36.581778
3,0,18,207.371206,375.674050,556,10,18,2020-03-13 00:00:00,2020-03-13 00:00:00,-2.267371e+06,292674.050159,69.412537,17.355114,18,0 days 00:00:00,56.454528,13.985118,34.063904
4,1,26,207.667855,375.288414,555,10,129,2020-03-13 00:05:00,2020-03-13 00:05:00,-2.267668e+06,292288.414162,69.410305,17.344579,18,0 days 00:05:00,55.983571,14.036286,34.066730

In [4]:
len(track)

19550

## _CALCULATE AREA_

In [6]:
area = tobac.calculate_area(track, Mask_ERF, method_area=None)
# area1 = (c['area']/1000000)
area1 = np.divide(area['area'],1000000)
area['area($km^2$)'] = area1

In [7]:
track['area($km^2$)'].max()

9295.494354494058

In [8]:
# # finding the maximum area
# z=track[track['area($km^2$)'] == 1433.9665540745268]
# z

In [9]:
tracks = track.drop(columns=['area'])
tracks

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$)
0,0,6,199.219921,249.882620,2261,10,6,2020-03-13 00:00:00,2020-03-13 00:00:00,-2.259220e+06,166882.620261,69.602078,14.224616,6,0 days 00:00:00,80.341567,13.985118,34.063904,NaN
1,1,10,200.292669,252.325685,2497,10,113,2020-03-13 00:05:00,2020-03-13 00:05:00,-2.260293e+06,169325.685005,69.590685,14.284206,6,0 days 00:05:00,77.704072,14.036286,34.066730,NaN
2,2,12,200.767879,254.458841,2781,10,224,2020-03-13 00:10:00,2020-03-13 00:10:00,-2.260768e+06,171458.840881,69.584907,14.337065,6,0 days 00:10:00,75.600646,14.054377,36.581778,0.995135
3,0,18,207.371206,375.674050,556,10,18,2020-03-13 00:00:00,2020-03-13 00:00:00,-2.267371e+06,292674.050159,69.412537,17.355114,18,0 days 00:00:00,56.454528,13.985118,34.063904,500.460646
4,1,26,207.667855,375.288414,555,10,129,2020-03-13 00:05:00,2020-03-13 00:05:00,-2.267668e+06,292288.414162,69.410305,17.344579,18,0 days 00:05:00,55.983571,14.036286,34.066730,524.342560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19545,358,31,265.002550,340.911793,18,10,28899,2020-03-14 05:50:00,2020-03-14 05:50:00,-2.325003e+06,257911.793230,68.928723,16.329923,10539,0 days 00:05:00,37.130830,14.789902,40.610380,140.298001
19546,359,29,265.253944,342.618582,3,10,28935,2020-03-14 05:55:00,2020-03-14 05:55:00,-2.325254e+06,259618.582132,68.924721,16.370787,10539,0 days 00:10:00,38.141186,14.385810,40.612898,118.406291
19547,357,34,263.362471,274.673745,28,10,28859,2020-03-14 05:45:00,2020-03-14 05:45:00,-2.323362e+06,191673.744922,69.001742,14.716131,10540,0 days 00:00:00,57.591116,14.990686,39.605794,122.385555
19548,358,30,263.957069,277.059310,28,10,28898,2020-03-14 05:50:00,2020-03-14 05:50:00,-2.323957e+06,194059.309841,68.994539,14.773343,10540,0 days 00:05:00,55.985090,14.789902,40.610380,134.328633
19549,359,27,264.635911,279.477515,27,10,28933,2020-03-14 05:55:00,2020-03-14 05:55:00,-2.324636e+06,196477.514983,68.986524,14.831140,10540,0 days 00:10:00,54.464686,14.385810,40.612898,130.345960

In [10]:
# all tracks
tracks.to_csv('../saved-files/threshold-10/final-tracks-threshold-10.csv', index=False)

## _PROOF THAT WE HAVE AREA OF THIS KIND_

In [11]:
# mask_cell_361 = tobac.utils.mask_cell(Mask_ERF, 361, tracks)
# mask_cell_361

In [12]:
# convert = xr.DataArray.from_iris(mask_cell_361)
# convert

In [13]:
# df_361 = tracks[tracks['cell'] == 361]
# df_361

In [14]:
# %%time
# path = '/glade/u/home/noteng/work/research/data/'
# file = 'yrwms-nordic.mos.pcappi-0-dbz.noclass-clfilter-novpr-clcorr-block.laea-yrwms-1000.20200313.nc'
# data = xr.open_dataset(path+file)
# # equivalent_reflectivity_factor = data['equivalent_reflectivity_factor'][:,450:580,256:771] #Based on longitude and latitude of Andoya and Norwegian Sea
# equivalent_reflectivity_factor = data['equivalent_reflectivity_factor'][:,250:650,450:850] #Based on longitude and latitude of Andoya and Norwegian Sea
# # equivalent_reflectivity_factor = data['equivalent_reflectivity_factor'][:,330:580,660:780] #### hdm1 and hdm2
# # equivalent_reflectivity_factor = data['equivalent_reflectivity_factor']
# equivalent_reflectivity_factor
# data.close()

In [15]:
# %%time

# for i in range(0, 9+1):

#     ## center points and extent of map ###
#     latA = 69.141281 #latitude of COMBLE site
#     lonA = 15.684166-1 #longitude of COMBLE site -1
#     xm, ym = 6,2.75 # extent from center point in lon and lat

#     fig, ax = plt.subplots(1,1,figsize=(10,9),subplot_kw={'projection': ccrs.Orthographic(lonA,latA)})

#     extent = (lonA-xm, lonA+xm, latA-ym, latA+ym) # define extent map
#     ax.set_extent(extent) # set extent of map
#     ax.coastlines(resolution='10m') # plot coastlines with high resolution: 10m


#     #change time to moth, day, year, hours and minutes
#     # dt = masked_values_to_xarray[4]['time'].dt.strftime('%m-%d-%Y %H:%M').values  ### array 
#     dt = convert['time'].dt.strftime('%m-%d-%Y %H:%M').values  ### array 
    

# #     #     # fill in the place where there is cloud with 1 and place with no cloud to be zero
#     cloud = np.asarray(convert[i],dtype='float')
#     invalid_cloud = np.greater(cloud,0)
#     cloud[invalid_cloud] = 1
#     invalid_cloud1 = np.less(cloud,1)
#     cloud[invalid_cloud1] = np.nan
    

#     cs=ax.pcolormesh(convert['lon'],
#                 convert['lat'], 
#                 # cloud*equivalent_reflectivity_factor.values[i],
#                 cloud*equivalent_reflectivity_factor.values[i],
#                 cmap='jet',
#                 transform=ccrs.PlateCarree(),
#                 vmin=-20,
#                 vmax=40
#                 )

#     ax.plot(lonA+1,latA, color='red', marker='*', markersize = 10.5,transform=ccrs.PlateCarree()) # plot red star at location of Andenes
#     # ax.plot(lonA,latA, color='red', marker='*', markersize = 20.5,transform=ccrs.PlateCarree()) # plot red star at location of Andenes
#     ax.set_title(f"Nordic Radar Mosaic: {dt[i]} UTC", fontweight='bold', fontsize=16, pad=11)  # title of figure


#     # Add a colorbar axis at the right of the graph
#     cbar_ax = fig.add_axes([0.85, 0.13, 0.047, 0.75]) #lbwh


#     cbar=fig.colorbar(cs, cax=cbar_ax, orientation='vertical')
#     cbar.set_label("Reflectivity Factor [dBZ]", fontsize = 15)
    
#     fig.savefig(f'./new//{dt[i]}.png', dpi=100)
#     plt.close()



# # #     dirr = sorted(os.listdir('./mod-images//'))
# # #     if f'{dt[i]}.png' in dirr:
# # #         # print(f'{dt[i]}.png already exist')
# # #         pass
# # #         plt.close()
# # #     else:
# # #         fig.savefig(f'./mod-images//{dt[i]}.png', dpi=100)
# # #         plt.close()
# # print('\U0001f600\U0001f600\U0001f600\U0001f600EXECUTION DONE!!!\U0001f600\U0001f600\U0001f600\U0001f600')
# # gc.collect()

In [16]:
# %%time
# import glob
# # Build GIF
# imgs = sorted(glob.glob("./new/*.png"))
# with imageio.get_writer('large-area.gif', mode='I', duration=0.3) as writer:
#     for filename in imgs:
#         image = imageio.v2.imread(filename)
#         writer.append_data(image)

In [17]:
# %%time
# #Display image
# display.Image('large-area.gif', width=800)

# END