In [1]:
# Standard libraries
import xarray as xr
import numpy as np
import pandas as pd
# import os
# from glob import glob
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import matplotlib.pyplot as plt
%matplotlib inline
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
import seaborn as sns
import iris
from iris.pandas import as_cubes
import sys

from datetime import datetime
from cartopy.util import add_cyclic_point
import gc
import imageio.v2
from IPython import display
# import netCDF4
from global_land_mask import globe
# # Import tobac itself:
import tobac

# Disable a few warnings:
import warnings
warnings.filterwarnings('ignore', category=UserWarning, append=True)
warnings.filterwarnings('ignore', category=RuntimeWarning, append=True)
warnings.filterwarnings('ignore', category=FutureWarning, append=True)
warnings.filterwarnings('ignore',category=pd.io.pytables.PerformanceWarning)

## close range vrs distance range relative to the trollinde radar.

In [2]:
track = pd.read_csv('../saved-files/threshold-20/final-tracks-threshold-20.csv')
track

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$)
0,0,3,138.459946,209.639577,12,20,3,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.198460e+06,126639.576617,70.178065,13.296810,3,0 days 00:00:00,147.586718,13.245867,34.567482,28.850011
1,1,2,142.106890,211.038006,11,20,56,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.202107e+06,128038.005949,70.144203,13.327626,3,0 days 00:05:00,144.153937,12.974534,35.577388,23.876203
2,2,3,144.716901,212.259109,4,20,107,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.204717e+06,129259.108875,70.119843,13.355321,3,0 days 00:10:00,141.544931,12.780750,34.063904,16.911861
3,3,3,148.635454,213.044500,3,20,148,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.208635e+06,130044.500153,70.083824,13.369686,3,0 days 00:15:00,138.460932,12.708913,36.584485,12.933215
4,0,7,179.772123,360.749762,7,20,7,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.239772e+06,277749.761570,69.679007,17.069049,7,0 days 00:00:00,64.097510,13.245867,34.567482,13.928206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12803,299,1,132.210510,264.802250,9,20,15497,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.192211e+06,181802.250223,70.199616,14.740749,3835,0 days 00:05:00,117.272271,15.240493,41.116443,11.937888
12804,300,1,134.016782,265.607027,8,20,15522,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.194017e+06,182607.027340,70.182629,14.757736,3835,0 days 00:10:00,115.288355,14.702386,40.106802,9.947996
12805,298,15,209.325817,289.439165,8,20,15481,2020-03-14 04:50:00,2020-03-14 04:50:00,-2.269326e+06,206439.164789,69.480737,15.197855,3837,0 days 00:00:00,41.339728,15.301029,39.603226,20.893423
12806,299,12,210.187722,291.164259,7,20,15508,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.270188e+06,208164.259129,69.471488,15.239071,3837,0 days 00:05:00,39.445606,15.240493,41.116443,16.913434
12807,300,12,212.000000,292.056669,3,20,15533,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.272000e+06,209056.668584,69.454306,15.257232,3837,0 days 00:10:00,37.683037,14.702386,40.106802,14.923758

### Calculate distance relative to trollinde radar

In [3]:
distance = []
for i in range(len(track)):
    #lat_andenes = 69.141599 # latitude of Andenes
    lat_andenes = 69.2412 # latiude of trollinde radar
    #lon_andenes = 15.684104 # latitude of Andenes
    lon_andenes = 16.0030 # longitude of trollinde radar
    
    distances = tobac.analysis.haversine(track['latitude'][i], track['longitude'][i], lat_andenes, lon_andenes)
    distance.append(distances)

In [4]:
distance[:10]
# np.max(distance)

[147.5867183439574,
 144.15393694654776,
 141.54493121094782,
 138.46093238167992,
 64.09751022660994,
 61.61973253375087,
 59.30195626001344,
 57.71674471539789,
 55.37229665848925,
 53.078407546091334]

In [5]:
%%time
# apped distance to track dataframe
track['distance'] = pd.Series(distance)

CPU times: user 2.37 ms, sys: 0 ns, total: 2.37 ms
Wall time: 2.38 ms

In [6]:
track.head()

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$)
0,0,3,138.459946,209.639577,12,20,3,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.198460e+06,126639.576617,70.178065,13.296810,3,0 days 00:00:00,147.586718,13.245867,34.567482,28.850011
1,1,2,142.106890,211.038006,11,20,56,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.202107e+06,128038.005949,70.144203,13.327626,3,0 days 00:05:00,144.153937,12.974534,35.577388,23.876203
2,2,3,144.716901,212.259109,4,20,107,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.204717e+06,129259.108875,70.119843,13.355321,3,0 days 00:10:00,141.544931,12.780750,34.063904,16.911861
3,3,3,148.635454,213.044500,3,20,148,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.208635e+06,130044.500153,70.083824,13.369686,3,0 days 00:15:00,138.460932,12.708913,36.584485,12.933215
4,0,7,179.772123,360.749762,7,20,7,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.239772e+06,277749.761570,69.679007,17.069049,7,0 days 00:00:00,64.097510,13.245867,34.567482,13.928206

# close domain

In [7]:
# latitude of radar(reference point)
ref_latitude_radar = 69.2412
# longitude of radar
ref_longitude_radar = 16.0030
# first 50km from the trollinde radar on the top
latitude_top_50km = 69.6940 
# first 50km from the trollinde radar on the bottom
latitude_bottom_50km = 68.78878

latitude = ((track['latitude'] >= latitude_bottom_50km) & (track['latitude'] <= latitude_top_50km))
# from_radar_to_50km_top = ((track['latitude'] >= ref_latitude_radar) & (track['latitude'] <= latitude_top_50km))
# from_radar_to_50km_bottom = ((track['latitude'] <= ref_latitude_radar) & (track['latitude'] >= latitude_bottom_50km))

longitude = (track['longitude'] <= ref_longitude_radar)

mask_lat = (latitude  & longitude)

# mask_lat = (from_radar_to_50km_top | from_radar_to_50km_bottom)



close_domain_20 = track[ mask_lat]
close_domain_20

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$)
20,0,16,272.285305,95.521224,5,20,16,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.332285e+06,12521.224431,68.992042,10.307598,16,0 days 00:00:00,227.609613,13.245867,34.567482,NaN
21,1,13,276.873535,97.468473,6,20,67,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.336874e+06,14468.472661,68.950107,10.354736,16,0 days 00:05:00,226.587484,12.974534,35.577388,22.885729
22,2,11,282.897190,99.942368,10,20,115,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.342897e+06,16942.368210,68.895030,10.414320,16,0 days 00:10:00,225.488607,12.780750,34.063904,27.859239
23,3,17,288.908811,103.000000,4,20,162,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.348909e+06,20000.000000,68.839989,10.487839,16,0 days 00:15:00,224.020864,12.708913,36.584485,18.904091
24,4,17,293.207201,103.539794,8,20,210,2020-03-13 04:20:00,2020-03-13 04:20:00,-2.353207e+06,20539.794253,68.800746,10.500089,16,0 days 00:20:00,224.646180,12.845599,38.092506,19.900653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12797,299,14,229.266745,179.502356,12,20,15510,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.289267e+06,96502.356206,69.365911,12.413832,3833,0 days 00:10:00,141.862708,15.240493,41.116443,30.844082
12798,300,13,230.547965,180.841843,15,20,15534,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.290548e+06,97841.843153,69.353731,12.445929,3833,0 days 00:15:00,140.518561,14.702386,40.106802,26.862552
12805,298,15,209.325817,289.439165,8,20,15481,2020-03-14 04:50:00,2020-03-14 04:50:00,-2.269326e+06,206439.164789,69.480737,15.197855,3837,0 days 00:00:00,41.339728,15.301029,39.603226,20.893423
12806,299,12,210.187722,291.164259,7,20,15508,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.270188e+06,208164.259129,69.471488,15.239071,3837,0 days 00:05:00,39.445606,15.240493,41.116443,16.913434
12807,300,12,212.000000,292.056669,3,20,15533,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.272000e+06,209056.668584,69.454306,15.257232,3837,0 days 00:10:00,37.683037,14.702386,40.106802,14.923758

In [8]:
%%time
cells_relative_time_to_radar_close = [];

for index, cell_id in enumerate(np.unique(close_domain_20['cell'])):
    if cell_id:
        # get all the closed domain cell id
        cells = close_domain_20[close_domain_20['cell'] == cell_id]
        # convert time to datetime
        all_times = pd.to_datetime(cells['timestr'].values)
        # select the last time
        time_cell_hit_radar = all_times[::-1][0]
        relative_time = np.subtract(time_cell_hit_radar, all_times)
        # convert to seconds 
        relative_time = relative_time.seconds // 60
        # print(cell_id, relative_time)
        cells_relative_time_to_radar_close.append(relative_time)

CPU times: user 486 ms, sys: 104 µs, total: 486 ms
Wall time: 487 ms

In [9]:
# cells_relative_times = pd.Series([item for sublist in cells_relative_time for item in sublist])
cells_relative_times_to_radar_close = pd.Series([item for sublist in cells_relative_time_to_radar_close for item in sublist])
close_domain_20['relative-time-to-radar'] = cells_relative_times_to_radar_close.values

/glade/scratch/noteng/ipykernel_260073/2812081928.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_domain_20['relative-time-to-radar'] = cells_relative_times_to_radar_close.values

In [10]:
close_domain_20 = close_domain_20.reset_index(drop=True)

In [12]:
close_domain_20.head()

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$),relative-time-to-radar
0,0,16,272.285305,95.521224,5,20,16,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.332285e+06,12521.224431,68.992042,10.307598,16,0 days 00:00:00,227.609613,13.245867,34.567482,NaN,20
1,1,13,276.873535,97.468473,6,20,67,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.336874e+06,14468.472661,68.950107,10.354736,16,0 days 00:05:00,226.587484,12.974534,35.577388,22.885729,15
2,2,11,282.897190,99.942368,10,20,115,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.342897e+06,16942.368210,68.895030,10.414320,16,0 days 00:10:00,225.488607,12.780750,34.063904,27.859239,10
3,3,17,288.908811,103.000000,4,20,162,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.348909e+06,20000.000000,68.839989,10.487839,16,0 days 00:15:00,224.020864,12.708913,36.584485,18.904091,5
4,4,17,293.207201,103.539794,8,20,210,2020-03-13 04:20:00,2020-03-13 04:20:00,-2.353207e+06,20539.794253,68.800746,10.500089,16,0 days 00:20:00,224.646180,12.845599,38.092506,19.900653,0

In [13]:
len(close_domain_20)

3817

# distant domain

In [14]:
ref_latitude_point_top = 69.6940 
ref_latitude_point_bottom = 68.78878
# longitude of radar
ref_longitude_radar1 = 16.0030
latitude_top_50km_to_150km = 70.5978 # 100km from first 50km on the top
latitude_bottom_50km_to_150km = 67.8878 # 100km from first 50km on the bottom

latitude1 = ((track['latitude'] >= latitude_bottom_50km_to_150km) & (track['latitude'] <= latitude_top_50km_to_150km))
longitude1 = (track['longitude'] <= ref_longitude_radar1)

mask_lat = (latitude1 & longitude1)


distant_domain_20 = track[ mask_lat ]
distant_domain_20

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$)
0,0,3,138.459946,209.639577,12,20,3,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.198460e+06,126639.576617,70.178065,13.296810,3,0 days 00:00:00,147.586718,13.245867,34.567482,28.850011
1,1,2,142.106890,211.038006,11,20,56,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.202107e+06,128038.005949,70.144203,13.327626,3,0 days 00:05:00,144.153937,12.974534,35.577388,23.876203
2,2,3,144.716901,212.259109,4,20,107,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.204717e+06,129259.108875,70.119843,13.355321,3,0 days 00:10:00,141.544931,12.780750,34.063904,16.911861
3,3,3,148.635454,213.044500,3,20,148,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.208635e+06,130044.500153,70.083824,13.369686,3,0 days 00:15:00,138.460932,12.708913,36.584485,12.933215
20,0,16,272.285305,95.521224,5,20,16,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.332285e+06,12521.224431,68.992042,10.307598,16,0 days 00:00:00,227.609613,13.245867,34.567482,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12803,299,1,132.210510,264.802250,9,20,15497,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.192211e+06,181802.250223,70.199616,14.740749,3835,0 days 00:05:00,117.272271,15.240493,41.116443,11.937888
12804,300,1,134.016782,265.607027,8,20,15522,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.194017e+06,182607.027340,70.182629,14.757736,3835,0 days 00:10:00,115.288355,14.702386,40.106802,9.947996
12805,298,15,209.325817,289.439165,8,20,15481,2020-03-14 04:50:00,2020-03-14 04:50:00,-2.269326e+06,206439.164789,69.480737,15.197855,3837,0 days 00:00:00,41.339728,15.301029,39.603226,20.893423
12806,299,12,210.187722,291.164259,7,20,15508,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.270188e+06,208164.259129,69.471488,15.239071,3837,0 days 00:05:00,39.445606,15.240493,41.116443,16.913434
12807,300,12,212.000000,292.056669,3,20,15533,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.272000e+06,209056.668584,69.454306,15.257232,3837,0 days 00:10:00,37.683037,14.702386,40.106802,14.923758

In [15]:
%%time
cells_relative_time_to_radar_distant = [];

for index, cell_idx in enumerate(np.unique(distant_domain_20['cell'])):
    if cell_idx:
        # get all the closed domain cell id
        cells = distant_domain_20[distant_domain_20['cell'] == cell_idx]
        # convert time to datetime
        all_times = pd.to_datetime(cells['timestr'].values)
        # select the last time
        time_cell_hit_radar1 = all_times[::-1][0]
        relative_time1 = np.subtract(time_cell_hit_radar1, all_times)
        # convert to seconds 
        relative_time1 = relative_time1.seconds // 60
        # print(cell_idx, relative_time1)
        cells_relative_time_to_radar_distant.append(relative_time1)

CPU times: user 986 ms, sys: 0 ns, total: 986 ms
Wall time: 1.02 s

In [16]:
# cells_relative_times = pd.Series([item for sublist in cells_relative_time for item in sublist])
cells_relative_times_to_radar_distant = pd.Series([item for sublist in cells_relative_time_to_radar_distant for item in sublist])
distant_domain_20['relative-time-to-radar'] = cells_relative_times_to_radar_distant.values

/glade/scratch/noteng/ipykernel_260073/2731090470.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distant_domain_20['relative-time-to-radar'] = cells_relative_times_to_radar_distant.values

In [17]:
distant_domain_20 = distant_domain_20.reset_index(drop=True)

In [19]:
distant_domain_20.head()

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$),relative-time-to-radar
0,0,3,138.459946,209.639577,12,20,3,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.198460e+06,126639.576617,70.178065,13.296810,3,0 days 00:00:00,147.586718,13.245867,34.567482,28.850011,15
1,1,2,142.106890,211.038006,11,20,56,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.202107e+06,128038.005949,70.144203,13.327626,3,0 days 00:05:00,144.153937,12.974534,35.577388,23.876203,10
2,2,3,144.716901,212.259109,4,20,107,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.204717e+06,129259.108875,70.119843,13.355321,3,0 days 00:10:00,141.544931,12.780750,34.063904,16.911861,5
3,3,3,148.635454,213.044500,3,20,148,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.208635e+06,130044.500153,70.083824,13.369686,3,0 days 00:15:00,138.460932,12.708913,36.584485,12.933215,0
4,0,16,272.285305,95.521224,5,20,16,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.332285e+06,12521.224431,68.992042,10.307598,16,0 days 00:00:00,227.609613,13.245867,34.567482,NaN,70

In [20]:
len(distant_domain_20)

9424

In [21]:
len(close_domain_20)

3817

In [22]:
len(track)

12808

In [25]:
len(close_domain_20) + len(distant_domain_20)

13241

In [27]:
distant_domain_20['latitude'].max(), distant_domain_20['latitude'].min(),close_domain_20['latitude'].max(), close_domain_20['latitude'].min()

(70.59698486328125, 67.8878402709961, 69.69399716573716, 68.78883907904164)

In [28]:
distant_domain_20['longitude'].max()

16.002731031244338

In [29]:
close_domain_20.to_csv('../saved-files/threshold-20/close-domain-threshold-20.csv', index=False)
distant_domain_20.to_csv('../saved-files/threshold-20/distant-domain-threshold-20.csv', index=False)

# END