In [1]:
# Standard libraries
import xarray as xr
import numpy as np
import pandas as pd
# import os
# from glob import glob
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import matplotlib.pyplot as plt
%matplotlib inline
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
import seaborn as sns
import iris
from iris.pandas import as_cubes
import sys

from datetime import datetime
from cartopy.util import add_cyclic_point
import gc
import imageio.v2
from IPython import display
# import netCDF4
from global_land_mask import globe
# # Import tobac itself:
import tobac

# Disable a few warnings:
import warnings
warnings.filterwarnings('ignore', category=UserWarning, append=True)
warnings.filterwarnings('ignore', category=RuntimeWarning, append=True)
warnings.filterwarnings('ignore', category=FutureWarning, append=True)
warnings.filterwarnings('ignore',category=pd.io.pytables.PerformanceWarning)

## _Sorting out cells that made it to landfall (used the globe.is_land() library)_

In [2]:
track = pd.read_csv('../saved-files/threshold-15/final-tracks-threshold-15.csv')
track

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$)
0,0,2,133.891782,247.588144,6,15,2,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.193892e+06,164588.143590,70.196696,14.290355,2,0 days 00:00:00,125.209617,13.245867,34.567482,8.952468
1,1,5,135.850880,248.149120,2,15,86,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.195851e+06,165149.120397,70.178537,14.301097,2,0 days 00:05:00,123.291260,12.974534,35.577388,20.890860
2,2,5,139.000000,249.440269,2,15,169,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.199000e+06,166440.268555,70.149081,14.328411,2,0 days 00:10:00,119.982671,12.780750,34.063904,21.887120
3,3,4,143.476756,250.870342,6,15,251,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.203477e+06,167870.342039,70.107474,14.356623,2,0 days 00:15:00,115.540119,12.708913,36.584485,22.880821
4,4,5,148.000000,253.920901,3,15,336,2020-03-13 04:20:00,2020-03-13 04:20:00,-2.208000e+06,170920.901252,70.064303,14.426429,2,0 days 00:20:00,110.078668,12.845599,38.092506,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17800,299,4,144.743717,239.312025,4,15,23004,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.204744e+06,156312.025471,70.103689,14.055373,6578,0 days 00:05:00,122.013418,15.240493,41.116443,NaN
17801,300,7,146.461260,240.148842,5,15,23041,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.206461e+06,157148.841602,70.087558,14.073848,6578,0 days 00:10:00,120.179000,14.702386,40.106802,5.970119
17802,298,31,256.000000,174.366873,2,15,22993,2020-03-14 04:50:00,2020-03-14 04:50:00,-2.316000e+06,91366.873305,69.124388,12.259164,6586,0 days 00:00:00,148.655096,15.301029,39.603226,10.944407
17803,299,27,256.815629,176.111734,4,15,23027,2020-03-14 04:55:00,2020-03-14 04:55:00,-2.316816e+06,93111.734429,69.116329,12.301452,6586,0 days 00:05:00,147.098363,15.240493,41.116443,10.943279
17804,300,27,258.000000,178.000000,1,15,23061,2020-03-14 05:00:00,2020-03-14 05:00:00,-2.318000e+06,95000.000000,69.104843,12.346874,6586,0 days 00:10:00,145.475724,14.702386,40.106802,9.950738

In [3]:
track.head()

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$)
0,0,2,133.891782,247.588144,6,15,2,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.193892e+06,164588.143590,70.196696,14.290355,2,0 days 00:00:00,125.209617,13.245867,34.567482,8.952468
1,1,5,135.850880,248.149120,2,15,86,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.195851e+06,165149.120397,70.178537,14.301097,2,0 days 00:05:00,123.291260,12.974534,35.577388,20.890860
2,2,5,139.000000,249.440269,2,15,169,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.199000e+06,166440.268555,70.149081,14.328411,2,0 days 00:10:00,119.982671,12.780750,34.063904,21.887120
3,3,4,143.476756,250.870342,6,15,251,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.203477e+06,167870.342039,70.107474,14.356623,2,0 days 00:15:00,115.540119,12.708913,36.584485,22.880821
4,4,5,148.000000,253.920901,3,15,336,2020-03-13 04:20:00,2020-03-13 04:20:00,-2.208000e+06,170920.901252,70.064303,14.426429,2,0 days 00:20:00,110.078668,12.845599,38.092506,NaN

In [4]:
%%time
cell_landfall = []
for i, j in enumerate(track['cell']):
#     # # Check if a point is on land:
    lat = track['latitude'][i]
    lon = track['longitude'][i]
    is_on_land = globe.is_land(lat, lon)
    if is_on_land:
        # if ((lat >= 69.0) & (lon >= 12.0)):
            # print(f"lat={lat}, lon={lon} is on land: {is_on_land} -- cell_id={j}")
        cell_landfall.append(j)

CPU times: user 1.88 s, sys: 474 Âµs, total: 1.88 s
Wall time: 3.86 s

In [5]:
%%time
cells_landfall=np.unique(cell_landfall)
cells_landfall

CPU times: user 271 Âµs, sys: 0 ns, total: 271 Âµs
Wall time: 275 Âµs

array([  20,   28,   43,   50,   58,   85,  103,  142,  150,  152,  164,
        182,  202,  206,  234,  241,  249,  251,  254,  278,  281,  299,
        330,  348,  352,  413,  424,  427,  435,  453,  480,  493,  494,
        514,  517,  538,  540,  544,  551,  570,  571,  599,  617,  634,
        635,  636,  644,  645,  646,  648,  649,  657,  671,  689,  711,
        734,  743,  750,  757,  766,  768,  771,  786,  788,  789,  799,
        850,  851,  861,  870,  888,  889,  910,  917,  918,  919,  944,
        949,  952,  963,  976,  990,  991,  996, 1009, 1012, 1015, 1050,
       1070, 1073, 1087, 1103, 1111, 1148, 1165, 1170, 1172, 1183, 1199,
       1228, 1229, 1233, 1240, 1241, 1259, 1290, 1300, 1303, 1326, 1417,
       1425, 1438, 1455, 1469, 1497, 1499, 1504, 1515, 1527, 1536, 1576,
       1587, 1599, 1610, 1616, 1642, 1675, 1678, 1687, 1700, 1706, 1711,
       1742, 1744, 1786, 1802, 1826, 1841, 1852, 1871, 1887, 1902, 1914,
       1924, 1935, 1937, 1942, 1967, 1968, 1973, 1987, 1989, 2013, 2014,
       2024, 2047, 2051, 2054, 2150, 2151, 2161, 2164, 2185, 2195, 2199,
       2220, 2239, 2269, 2279, 2299, 2300, 2330, 2331, 2343, 2355, 2362,
       2390, 2419, 2424, 2426, 2432, 2433, 2451, 2454, 2459, 2476, 2480,
       2486, 2489, 2507, 2508, 2512, 2536, 2549, 2564, 2567, 2586, 2612,
       2616, 2618, 2627, 2651, 2658, 2664, 2687, 2719, 2723, 2726, 2733,
       2734, 2739, 2743, 2754, 2756, 2767, 2769, 2773, 2822, 2830, 2833,
       2843, 2851, 2889, 2904, 2905, 2920, 2926, 2927, 2953, 2964, 2965,
       2974, 2985, 2996, 2998, 3008, 3017, 3034, 3102, 3115, 3123, 3127,
       3144, 3151, 3155, 3160, 3190, 3194, 3198, 3215, 3222, 3243, 3247,
       3248, 3250, 3254, 3256, 3290, 3296, 3335, 3350, 3358, 3361, 3368,
       3376, 3377, 3399, 3401, 3425, 3430, 3440, 3446, 3453, 3458, 3464,
       3465, 3470, 3472, 3509, 3510, 3529, 3548, 3553, 3558, 3600, 3605,
       3608, 3610, 3611, 3627, 3641, 3654, 3661, 3662, 3667, 3685, 3689,
       3705, 3715, 3716, 3735, 3739, 3740, 3742, 3756, 3758, 3762, 3763,
       3777, 3779, 3780, 3790, 3801, 3804, 3807, 3808, 3822, 3835, 3837,
       3840, 3843, 3844, 3851, 3853, 3871, 3876, 3878, 3880, 3896, 3897,
       3898, 3919, 3921, 3926, 3936, 3939, 3953, 3968, 3981, 4001, 4005,
       4009, 4011, 4014, 4026, 4031, 4051, 4084, 4115, 4119, 4126, 4129,
       4142, 4143, 4145, 4161, 4164, 4165, 4168, 4171, 4190, 4203, 4208,
       4223, 4230, 4231, 4254, 4277, 4284, 4293, 4311, 4313, 4317, 4320,
       4322, 4338, 4342, 4347, 4357, 4371, 4372, 4374, 4377, 4383, 4390,
       4394, 4417, 4418, 4431, 4432, 4437, 4438, 4441, 4444, 4447, 4486,
       4495, 4504, 4511, 4516, 4520, 4542, 4557, 4565, 4584, 4597, 4605,
       4616, 4646, 4647, 4656, 4657, 4659, 4662, 4674, 4678, 4682, 4704,
       4705, 4707, 4719, 4721, 4725, 4728, 4739, 4740, 4756, 4771, 4779,
       4790, 4795, 4800, 4809, 4815, 4829, 4849, 4850, 4853, 4865, 4866,
       4870, 4880, 4885, 4886, 4892, 4898, 4911, 4922, 4927, 4948, 4957,
       4959, 4962, 4968, 4983, 4986, 5033, 5044, 5057, 5070, 5076, 5077,
       5091, 5107, 5108, 5123, 5131, 5148, 5150, 5164, 5166, 5168, 5191,
       5192, 5199, 5203, 5205, 5207, 5224, 5227, 5229, 5251, 5256, 5261,
       5262, 5263, 5268, 5269, 5275, 5278, 5296, 5309, 5320, 5325, 5339,
       5345, 5347, 5361, 5362, 5372, 5375, 5391, 5393, 5398, 5400, 5401,
       5403, 5418, 5421, 5422, 5432, 5441, 5446, 5447, 5451, 5466, 5468,
       5469, 5471, 5472, 5489, 5497, 5499, 5510, 5520, 5522, 5531, 5541,
       5542, 5545, 5546, 5547, 5555, 5584, 5587, 5589, 5600, 5601, 5602,
       5603, 5604, 5607, 5613, 5619, 5628, 5635, 5639, 5674, 5690, 5694,
       5697, 5708, 5710, 5718, 5722, 5739, 5741, 5750, 5760, 5777, 5781,
       5788, 5795, 5807, 5810, 5818, 5852, 5853, 5859, 5860, 5872, 5876,
       5894, 5897, 5900, 5901, 5917, 5918, 5925, 5943, 5948, 5953, 5954,
       5969, 5984, 5997, 6002, 6004, 6009, 6011, 6013, 6015, 6021, 6022,
       6036, 6040, 6041, 6068, 6069, 6078, 6089, 6099, 6113, 6114, 6120,
       6146, 6147, 6150, 6165, 6167, 6176, 6177, 6193, 6202, 6203, 6206,
       6237, 6250, 6257, 6260, 6269, 6275, 6276, 6278, 6281, 6302, 6306,
       6309, 6323, 6336, 6338, 6358, 6359, 6369, 6370, 6382, 6383, 6384,
       6388, 6389, 6390, 6406, 6414, 6419, 6424, 6432, 6438, 6440, 6457,
       6480, 6501, 6502, 6512, 6515, 6521, 6523, 6531, 6534, 6536, 6538,
       6549, 6569, 6575])

## _Algorithm to track cells back in time that made it to landfall_

In [6]:
%%time
combined_cells_landfalls = []
for i, cell_ids in enumerate(np.unique(cells_landfall)): # looped through tracks found with AMF1 site
    if cell_ids in track['cell'].values: # checking if those cells(tracks) are within the original tracked dataframe
        # print(f'Cell {cell_ids} present: made it to landfall ðŸ˜€')
        track_c = track[track['cell'] == cell_ids] # display it if it is within the tracked dataframe
        combined_cells_landfalls.append(track_c) # append the results you get a new dataFrame calld combined_tracks_AMF1
    else:
        print('Cells not present ðŸ¥²')
        
# Concatenate the dataframes(combined_tracks_AMD) along the rows axis with keys
combined_cells_landfall_present = pd.concat(combined_cells_landfalls)
combined_cells_landfall_present = combined_cells_landfall_present.reset_index(drop=True)
combined_cells_landfall_present['landfall'] = globe.is_land(combined_cells_landfall_present['latitude'], combined_cells_landfall_present['longitude'])

CPU times: user 324 ms, sys: 16.5 ms, total: 341 ms
Wall time: 675 ms

In [7]:
combined_cells_landfall_present.head()

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,projection_y_coordinate,projection_x_coordinate,latitude,longitude,cell,time_cell,distance,mean dBZ,max dBZ,area($km^2$),landfall
0,0,20,255.544546,324.527060,17,15,20,2020-03-13 04:00:00,2020-03-13 04:00:00,-2.315545e+06,241527.059669,69.030445,15.954806,20,0 days 00:00:00,23.538329,13.245867,34.567482,23.879002,False
1,1,28,258.825739,324.860030,27,15,109,2020-03-13 04:05:00,2020-03-13 04:05:00,-2.318826e+06,241860.030388,69.000377,15.954579,20,0 days 00:05:00,26.876487,12.974534,35.577388,34.826114,False
2,2,27,262.754401,325.077747,16,15,191,2020-03-13 04:10:00,2020-03-13 04:10:00,-2.322754e+06,242077.747280,68.964541,15.949893,20,0 days 00:10:00,30.868930,12.780750,34.063904,19.899722,False
3,3,30,266.731982,325.601422,8,15,277,2020-03-13 04:15:00,2020-03-13 04:15:00,-2.326732e+06,242601.421660,68.927977,15.952552,20,0 days 00:15:00,34.924637,12.708913,36.584485,15.920343,False
4,4,36,270.335063,326.000000,2,15,367,2020-03-13 04:20:00,2020-03-13 04:20:00,-2.330335e+06,243000.000000,68.894920,15.953109,20,0 days 00:20:00,38.597920,12.845599,38.092506,4.975171,True

In [8]:
len(combined_cells_landfall_present)

4472

## _track up to the time the cell first hit landfall (after it hits the first landfall, remove all the subsequent cells hitting landfall, we are not interested in it)_

In [9]:
%%time
cells_to_first_landfall = []
for i, cell_idx in enumerate(np.unique(cells_landfall)):
    df = combined_cells_landfall_present[combined_cells_landfall_present['cell'] == cell_idx]
    # # find the index of the first occurrence of True
    idx = df.loc[df['landfall']].index[0]
    # slice the DataFrame to keep only the rows up to and including that index
    df = df.loc[:idx]
    # set all subsequent occurrences of True to False
    df.loc[df['landfall'].shift(-1) == True, 'landfall'] = False
    # print(df)
    cells_to_first_landfall.append(df)
first_landfall = pd.concat(cells_to_first_landfall)

CPU times: user 633 ms, sys: 11.9 ms, total: 645 ms
Wall time: 1.98 s

## _calculate relative time --- relative time = time - time_landfall_

In [10]:
%%time
cells_relative_time = []
for index, cell_id in enumerate(np.unique(first_landfall['cell'])):
    if cell_id:
        # print(cell_id)
        cells = first_landfall[first_landfall['cell'] == cell_id] # get all the cell_ids
    # calculate for the relative time ----- relative time = time - time_landfall
        all_cells_times = cells['timestr']; all_cells_times = pd.to_datetime(all_cells_times.values) # convert timestr to datetime
        landfall_time_each_cell = all_cells_times[::-1][0]
        # relative_time = np.absolute(all_cells_times - landfall_time_each_cell) # relative time
        relative_time = np.subtract(landfall_time_each_cell, all_cells_times)
        relative_time = relative_time.seconds // 60
        # print(cell_id, relative_time)
        cells_relative_time.append(relative_time)

CPU times: user 551 ms, sys: 2.05 ms, total: 553 ms
Wall time: 1.67 s

In [11]:
cells_relative_time[:20]

[Int64Index([20, 15, 10, 5, 0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([20, 15, 10, 5, 0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([30, 25, 20, 15, 10, 5, 0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([45, 40, 35, 30, 25, 20, 15, 10, 5, 0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([0], dtype='int64'),
 Int64Index([0], dtype='int64')]

In [12]:
# cells_relative_time
cells_relative_times = pd.Series([item for sublist in cells_relative_time for item in sublist])
# first_landfall['relative_time'] = cells_relative_times
# cells_relative_times.values
first_landfall['relative_time'] = cells_relative_times.values

In [13]:
len(first_landfall)

2049

In [14]:
first_landfall.to_csv('../saved-files/threshold-15/all-cells-first_landfall-threshold-15.csv', index=False)

In [15]:
# final = first_landfall[['cell', 'latitude', 'longitude', 'distance', 'max dBZ','mean dBZ', 'area' ,'timestr', 'landfall']]
# final

# END